<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Temukan restoran favorite kamu di website Kitono Resto" />
		<link rel="shortcut icon" href="./images/brand.svg" type="image/x-icon" />

		<title>Kitono Resto</title>
	</head>
	<body>
		<a class="skipper" href="#restaurants">Skip to main content</a>
		<header class="top-bar">
			<section>
				<div class="top-bar__brand" role="img"></div>

				<button class="top-bar__toggle" title="Tampilkan atau sembunyikan menu">
					<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
						<path d="M6 36v-3h36v3Zm0-10.5v-3h36v3ZM6 15v-3h36v3Z" />
					</svg>
				</button>

				<nav class="top-bar__menu">
					<a href="/">Home</a>
					<a href="#">Favorite</a>
					<a href="https://github.com/mustofa-id">About Us</a>
				</nav>
			</section>
		</header>

		<main>
			<section class="hero">
				<article class="hero__text">
					<h2>Kitono Resto</h2>
					<p>Temukan restoran favorite kamu di website Kitono Resto</p>
					<a href="#restaurants">Telusuri</a>
				</article>
			</section>

			<section id="restaurants" class="restaurants">
				<!-- items -->
			</section>
		</main>

		<footer class="bottom-bar">
			<p>&copy;2022 Kitono Resto - Dicoding Submission</p>
		</footer>
	</body>
</html>
