@use './base.scss' as *;

$hero-image: url('../public/images/heros/hero-image_2.jpg');

.top-bar {
	$this: &;
	position: absolute;
	width: 100%;

	section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: $screen-lg;
		padding: 0.5rem 1rem;
		margin: 0 auto;
	}

	&--fixed {
		position: fixed;
		background-color: white;
		border-bottom: solid 1px gray;
		transition: all 0.2s ease-out;
		left: 0;
		top: 0;

		#{$this}__toggle,
		#{$this}__brand,
		#{$this}__menu a {
			color: gray;
		}
	}

	&__toggle {
		background: none;
		border: none;
		padding: 0;
		outline: inherit;
		cursor: pointer;
		color: white;
		padding: 0 0.5rem;

		svg {
			fill: currentColor;
		}

		@include md {
			display: none;
		}
	}

	&__brand {
		font-family: monospace;
		color: white;
		padding: 0 0.5rem;
	}

	&__menu {
		display: none;
		background: white;
		padding: 1rem;
		position: absolute;
		top: 1.25rem;
		right: 0;
		margin: 1rem;
		border: solid 1px grey;

		&--shown {
			display: initial;
		}

		@include md {
			display: initial;
			position: initial;
			background: none;
			border: none;
			margin: 0;
			padding: 0;
		}
	}

	&__menu a {
		text-decoration: none;
		color: grey;
		display: block;
		font-size: large;
		padding: 0.5rem 1rem;

		@include md {
			display: initial;
			color: white;
			font-size: initial;
			padding: 0 1rem;
		}
	}
}

.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $hero-image;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
}

.restaurants {
	padding: 1rem;
	display: grid;
	gap: 1rem;

	article {
		border: solid 1px gray;
		padding: 1rem;
	}
}

.bottom-bar {
	padding: 1rem 2rem;

	p {
		text-align: center;
	}
}
