@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* css reset taken from: https://twitter.com/eladsc/status/1356550200140189697 */
/* -- start css reset */
* {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
/* -- end css reset */

:root {
	--app-border-hand-drawn: 255px 15px 225px 15px/15px 225px 15px 255px;
}

*::placeholder {
	font-weight: initial;
	color: #bbb;
}

body {
	font-family: 'Patrick Hand', cursive;
	color: #333;
	background-color: #f6fbf4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Patrick Hand SC', cursive;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

header,
main,
footer {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 8px;
	border-radius: var(--app-border-hand-drawn);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	padding: 0;
}

footer {
	text-align: center;
	margin-top: 6px;
	line-height: 1;
	height: 50px;
}

button:active {
	opacity: 0.5;
}

button:disabled {
	opacity: 0.7;
}

main #content {
	display: flex;
	flex-wrap: wrap;
	padding: 8px;
	align-items: flex-start;
	align-content: flex-start;
	row-gap: 2px;
	min-height: 100vh;
}

.nav-main li {
	display: inline;
}

.nav-main button {
	display: inline-flex;
	align-items: center;
	padding: 6px 12px;
	border: solid 1px transparent;
	border-radius: var(--app-border-hand-drawn);
}

.hover:hover {
	color: #5fd068;
	border-color: #5fd068;
	cursor: pointer;
}

aside.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f6fbf4;
	width: 284px;
	height: 100%;
	padding: 8px;
	box-shadow: 8px 12px 10px 0 hsla(0, 0%, 0%, 0.2);
}

aside.sidebar.hidden {
	display: none;
}

.sidebar > .about {
	text-align: center;
	line-height: 1.2;
	max-width: 480px;
	border-top: dotted 1px #333;
	border-bottom: dotted 1px #333;
	padding: 16px 0;
	margin: 16px 0;
}

.sidebar > .about img {
	width: 136px;
	color: #333;
}

.sidebar > .about > .links {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 4px;
	padding: 8px;
}

.sidebar > .storage {
	text-align: center;
	line-height: 1.2;
}

.sidebar > .storage > div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

a.button-link {
	border: solid 1px #333;
	padding: 1px 6px;
}

#confirm-dialog-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #33333365;
	width: 100%;
	height: 100%;
	border: solid 1px #333;
}

#confirm-dialog {
	margin: auto;
	background-color: #f6fbf4;
	box-shadow: 8px 12px 10px 0 hsla(0, 0%, 0%, 0.2);
	max-width: 326px;
	border: solid 1px #333;
}

#confirm-dialog-actions {
	display: flex;
	justify-content: space-evenly;
	margin: 8px 0;
}

#confirm-dialog-actions > button {
	border: solid 1px #333;
	padding: 2px 6px;
}

@media (min-width: 1024px) {
	main {
		border: solid 1px #333;
		flex-direction: row-reverse;
	}

	main #content {
		flex-basis: 75%;
		overflow: auto;
		min-height: initial;
		height: 84vh;
	}

	aside.sidebar {
		position: initial;
		top: initial;
		left: initial;
		background-color: initial;
		max-width: initial;
		margin: 8px;
		flex-basis: 25%;
		height: 84vh;
		padding: 0 8px;
		border-right: dashed 1px #333;
		box-shadow: none;
	}

	aside.sidebar.hidden {
		display: initial;
	}

	#btn-hide-sidebar,
	#btn-show-sidebar {
		display: none;
	}

	footer {
		height: 0;
	}
}
